{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('src/views/css/login.css') }}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <img src="{{ asset('/src/views/img/placeholder1.jpg') }}" width="600">
        </div>

        <div class="col-lg-4 login-box">
            <form action="{{ url('login_submit') }}" method="post" role="form">
                <div class="form-group">
                    <label>
                        {{ 'user' | trans }}
                        <input type="text" name="user" placeholder="{{ 'user' | trans }}" class="form-control"
                               value="{{ email is defined? email : '' }}">
                    </label>
                </div>
                <div class="form-group">
                    <label>‚
                        {{ 'password' | trans }}
                        <input type="password" name="password" placeholder="{{ 'password' | trans }}"
                               class="form-control">
                    </label>
                </div>

                <input type="submit" name="submit" value="login" class="btn btn-default"/>
                <input type="submit" name="submit" value="register" class="btn btn-default"/>
            </form>
        </div>
    </div>

    <div class="row">
        {#More content here#}
    </div>

{% endblock %}